* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}

html, body {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#0f222b;
  color:#0f222b;
  display:grid;
  justify-content:center;

}
