* {

  box-sizing:border-box;
  border-radius: 20px;
  margin:0;
  padding:0;

}

html, body {

  height:100%;
  width:100%;

}

body {

  align-content:space-around;
  background-image: linear-gradient(to bottom right, black, #303030);
  color:#FBF5F3;
  display:grid;
  justify-content:center;

}
